.certificate-container{
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 2rem 0;
}
.certificate-heading{
    text-align: center;
    margin-bottom: 2rem;
}
.certificate-item{
    display: flex;
    justify-content: space-between;
    margin: auto;
  
}
.certificate-item p, a{
    margin: 1rem 1rem;
    font-size: 1.2rem;
    text-align: start;
}